<h1>AR Cones</h1>

<table class="table table-striped">
  <tr>
    <th>Attraction tour</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @arcones.each do |arcone| %>
  <tr>
    <td><%= arcone.attraction_tour.title %></td>
    <td><%= arcone.start %></td>
    <td><%= arcone.end %></td>
    <td><%= link_to 'Show', arcone %></td>
    <td><%= link_to 'Edit', edit_arcone_path(arcone) %></td>
    <td><%= link_to 'Destroy', arcone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Arcone', new_arcone_path %>
