<p id="notice"><%= notice %></p>

<p>
  <b>Attraction tour:</b>
  <%= @arcone.attraction_tour_id %>
</p>

<p>
  <b>Start:</b>
  <%= @arcone.start %>
</p>

<p>
  <b>End:</b>
  <%= @arcone.end %>
</p>


<%= link_to 'Edit', edit_arcone_path(@arcone) %> |
<%= link_to 'Back', arcones_path %>
