<%= form_for([@venue_visitor,@tour_visitor]) do |f| %>
  <div class="field">
    <%= f.label :tour_id %><br />
    <%= f.number_field :tour_id %>
  </div>
  <div class="field">
    <%= f.label :venue_visitor_id %><br />
    <%= f.number_field :venue_visitor_id %>
  </div>
  <div class="field">
    <%= f.label :progress %><br />
    <%= f.number_field :progress %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
