<h1>Listing tour_visitors</h1>

<table>
  <tr>
    <th>Tour</th>
    <th>Visitor</th>
    <th>Progress</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tour_visitors.each do |tour_visitor| %>
  <tr>
    <td><%= tour_visitor.tour_id %></td>
    <td><%= tour_visitor.venue_visitor_id %></td>
    <td><%= tour_visitor.progress %></td>
    <td><%= link_to 'Show', venue_visitor_tour_visitor_path(tour_visitor.venue_visitor_id,tour_visitor) %></td>
    <td><%= link_to 'Edit', edit_venue_visitor_tour_visitor_path(tour_visitor.venue_visitor_id,tour_visitor) %></td>
    <td><%= link_to 'Destroy', venue_visitor_tour_visitor_path(tour_visitor.venue_visitor_id,tour_visitor), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
