<p id="notice"><%= notice %></p>

<p>
  <b>Tour:</b>
  <%= @tour_visitor.tour_id %>
</p>

<p>
  <b>Visitor:</b>
  <%= @tour_visitor.venue_visitor_id %>
</p>

<p>
  <b>Progress:</b>
  <%= @tour_visitor.progress %>
</p>


<%= link_to 'Edit', edit_venue_visitor_tour_visitor_path(@tour_visitor.venue_visitor_id,@tour_visitor) %> |
