<p id="notice"><%= notice %></p>

<p>
  <b>Venue:</b>
  <%= @venue_asset.venue_id %>
</p>

<p>
  <b>Type:</b>
  <%= @venue_asset.type %>
</p>

<p>
  <b>Asset:</b>
  <%= @venue_asset.asset %>
</p>


<%= link_to 'Edit', edit_venue_asset_path(@venue_asset) %> |
<%= link_to 'Back', venue_assets_path %>
