  <h2>Tours <a href="#newTourModal" role="button" class="btn btn-success" data-toggle="modal"><i class="icon-plus icon-white"></i></a></h2>
<ul class="media-list">
  <% @tours.each do |tour| %>
    <li class="media">
      <%= link_to tour, :class => "pull-left" do %>
        <%= holder_tag '100x75' %>
      <% end %>
      <div class="media-body">
        <h4 class="media-heading"><%= tour.title %>
        </h4>
        <div class="media">
          <%= tour.description %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<div id="newTourModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<% @tour = Tour.new %>
<%= render "tours/form" %>
</div>
