<h1>Listing attraction_tours</h1>

<table>
  <tr>
    <th>Attraction</th>
    <th>Tour</th>
    <th>Radius</th>
    <th>Description</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attractions.each do |attraction| %>
  <tr>
    <td><%= attraction.attraction.title %></td>
    <td><%= attraction.tour_id %></td>
    <td><%= attraction.radius %></td>
    <td><%= attraction.description %></td>
    <td><%= attraction.order %></td>
    <td><%= link_to 'Show', tour_attraction_tour_path(@tour,attraction) %></td>
    <td><%= link_to 'Edit', edit_tour_attraction_tour_path(@tour,attraction) %></td>
    <td><%= link_to 'Destroy', tour_attraction_tour_path(@tour,attraction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attraction', new_tour_attraction_tour_path(@tour) %>
