<p><%= link_to @venue.name, @venue %> / <%= @tour.title %></p>
<h1><% @multimedia = @venue %>
  <%= render 'media/image' %>
  <%= @tour.title %>
<a href="#editTourModal" role="button" data-toggle="modal" class="btn btn-info"><i class="icon-edit icon-white"></i></a>
<%= link_to  @tour, method: :delete, :class=> "btn btn-danger" do %><i class="icon-remove icon-white"></i><% end %>
</h1>
<p>
  <b>Description:</b>
  <%= @tour.description %>
</p>
<div class="row">
  <div class="span5 attractions">
    <%= render 'attractions/index' %>
  </div>
  <div class="offset2 span5 attractions">
    <%= render 'attraction_tours/index' %>
  </div>
</div>
<%= link_to 'Manage Media', tour_media_path(@tour) %>


<div id="editTourModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editTourModalLabel" aria-hidden="true">
  <%= render "tours/edit" %>
</div>
