<h1>Venues <a href="#myModal" role="button" data-toggle="modal" class="btn btn-success"><i class="icon-plus icon-white"></i></a></h1>
<ul class="media-list">
<% @venues.each do |venue| %>
  <li class="media">
    <%= link_to venue, :class => "pull-left" do%><%= holder_tag '100x100' %><% end %>
    <div class="media-body">
      <h4 class="media-heading"><%= venue.name %></h4>
      <div class="">
        <%= venue.description %>
      </div>
    </div>
  </li>
<% end %>
</ul>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <% @venue = Venue.new %>
  <%= render "venues/new" %>
</div>
