<h1>Venues <a href="#myModal" role="button" data-toggle="modal" class="btn btn-success"><i class="icon-plus icon-white"></i></a></h1>
<ul class="media-list">
<% @venues.each do |venue| %>
  <li class="media">
    <%= link_to venue, :class => "pull-left" do%>
      <% if venue.media.where(:media_type =>  "image") %>
        <% venue_img = venue.media.find(:media_type == "image") %>
        <%= image_tag venue_img.content %>
      <% else %>
        <%= holder_tag '100x75' %>
      <% end %>
    <% end %>
    <div class="media-body">
      <h4 class="media-heading"><%= venue.name %></h4>
      <div class="">
        <%= venue.description %>
      </div>
    </div>
  </li>
<% end %>
</ul>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <% @venue = Venue.new %>
  <%= render "venues/form" %>
</div>
