<h1><%= @venue.name %>
    <%= link_to edit_venue_path(@venue), :class => "btn btn-info" do %>
      <i class="icon-pencil icon-white"></i>
    <% end %>
    <%= link_to @venue, method: :delete, :class => "btn btn-danger" do %>
      <i class="icon-remove icon-white"></i>
    <% end %>
</h1>
<p>
  <%= @venue.description %>
</p>
<div class="row">
  <div class="span4">
      <%= render 'tours/index'%>
  </div>
  <div class=" offset3 span5" id="tours-active">
    <ul class="media-list">
      <%= render 'tours/active'%>
    </ul>
  </div>
</div>


<%= link_to 'Manage Assets', venue_assets_path(@venue) %> |
<%= link_to 'Manage Attractions', venue_attractions_path(@venue) %> | 
<%= link_to 'Manage Media', venue_media_path(@venue) %>
