<h1><%= @venue.name %></h1>
<p>
  <%= @venue.description %>
</p>
    <%= link_to 'Edit', edit_venue_path(@venue), :class => "btn btn-primary" %>
    <%= link_to 'Assets', venue_assets_path(@venue), :class => "btn btn-primary"%>
<div class="row">
  <div class="span4">
    <%= render 'tours/index'%>
  </div>
  <div class="span4">
  </div>
  <div class="span4">
    <%= render 'attractions/index'%>
  </div>
</div>
