<p id="notice"><%= notice %></p>

<p>
  <b>Medium:</b>
  <%= @armedium.medium_id %>
</p>

<p>
  <b>Arcone start:</b>
  <%= @armedium.arcone_start %>
</p>

<p>
  <b>Arcone end:</b>
  <%= @armedium.arcone_end %>
</p>

<p>
  <b>Sound track:</b>
  <%= @armedium.sound_track %>
</p>

<p>
  <b>Rgb:</b>
  <%= @armedium.rgb %>
</p>

<p>
  <b>Alpha:</b>
  <%= @armedium.alpha %>
</p>


<%= link_to 'Edit', edit_armedium_path(@armedium) %> |
<%= link_to 'Back', armedia_path %>
