<%= form_for(@attraction_tour) do |f| %>
  <% if @attraction_tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attraction_tour.errors.count, "error") %> prohibited this attraction_tour from being saved:</h2>

      <ul>
      <% @attraction_tour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :attraction_id %><br />
    <%= f.number_field :attraction_id %>
  </div>
  <div class="field">
    <%= f.label :tour_id %><br />
    <%= f.number_field :tour_id %>
  </div>
  <div class="field">
    <%= f.label :radius %><br />
    <%= f.text_field :radius %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.number_field :order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
