<h1>Tour Attractions</h1>

<table class="table table-striped">
  <tr>
    <th>Tour</th>
    <th>Attraction</th>
    <th>Radius</th>
    <th>Description</th>
    <th>Order</th>
    <th></th>
  </tr>

<% @attraction_tours.each do |attraction_tour| %>
  <tr>
    <td><%= attraction_tour.tour.title %></td>
    <td><%= attraction_tour.attraction.title %></td>
    <td><%= attraction_tour.radius %></td>
    <td><%= attraction_tour.description %></td>
    <td><%= attraction_tour.tour_order %></td>
    <td><%= link_to 'Show', tour_attraction_tour_path(attraction_tour.tour_id,attraction_tour) %></td>
  </tr>
<% end %>
</table>
