<%= link_to @attraction_tour.attraction.venue do %><%= @attraction_tour.attraction.venue.name %><% end %> / <%= link_to @attraction_tour.tour do %><%= @attraction_tour.tour.title %><% end %> / <%= @attraction_tour.attraction.title %>
<p id="notice"><%= notice %></p>

<p>
  <b>Attraction:</b>
  <%= @attraction_tour.attraction_id %>
</p>

<p>
  <b>Tour:</b>
  <%= @attraction_tour.tour_id %>
</p>

<p>
  <b>Radius:</b>
  <%= @attraction_tour.radius %>
</p>

<p>
  <b>Description:</b>
  <%= @attraction_tour.description %>
</p>

<p>
  <b>Order:</b>
  <%= @attraction_tour.tour_order %>
</p>


<%= link_to 'Edit', edit_attraction_tour_path(@attraction_tour) %> |
<%= link_to 'Back', attraction_tours_path %>
