<h1>Listing media</h1>

<table class="table table-striped">
  <tr>
    <th>Type</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @media.each do |medium| %>
  <tr>
    <td><%= medium.media_type %></td>
    <td><%= medium.content %></td>
    <td><%= link_to 'Show', medium %></td>
    <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
    <td><%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<h2>New Media</h2>
<%= form_for([@multimedia, Medium.new]) do |f| %>
  <div class="field">
    <%= f.label :media_type %><br />
    <%= f.text_field :media_type %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

