<%= form_for([@tour_visitor,@time_visitor]) do |f| %>
  <div class="field">
    <%= f.label :tour_visitor_id %><br />
    <%= f.number_field :tour_visitor_id %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
