<%= form_for(@time_visitor) do |f| %>
  <% if @time_visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@time_visitor.errors.count, "error") %> prohibited this time_visitor from being saved:</h2>

      <ul>
      <% @time_visitor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tour_visitor_id %><br />
    <%= f.number_field :tour_visitor_id %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
