<h2>Attractions: <a href="#newAttractionModal" role="button" class="btn btn-success" data-toggle="modal"><i class="icon-plus icon-white"></i></a></h2>
<ul class="media-list">
<% @attractions.each do |attraction| %>
  <li class="media">
    <%= link_to attraction, :class => "pull-left" do %>
      <% @multimedia = attraction %>
      <%= render "media/image" %>
    <% end %>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to new_tour_attraction_tour_path(@tour,:attraction_id => attraction.id), :class => "btn btn-success pull-right" do %>
        <i class="icon-share-alt icon-white"></i><% end %>
        <%= attraction.title %></h4>
      <div class="media">
        <%= attraction.description %>
      </div>
    </div>
  </li>
<% end %>
</ul>
<div id="newAttractionModal" class="modal hide fade" tabindex="-1" role="dialog" arial-labelledby="myModalLabel" arial-hidden="true">
  <% @attraction = Attraction.new %>
  <%= render "attractions/new"%>
</div>
