<h2>Attractions</h2>

<table>
  <tr>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Radius</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attractions.each do |attraction| %>
  <tr>
    <td><%= attraction.latitude %></td>
    <td><%= attraction.longitude %></td>
    <td><%= attraction.radius %></td>
    <td><%= attraction.title %></td>
    <td><%= attraction.description %></td>
    <td><%= link_to 'Show', venue_attraction_path(attraction.venue_id,attraction) %></td>
    <td><%= link_to 'Edit', edit_venue_attraction_path(attraction.venue_id,attraction) %></td>
    <td><%= link_to 'Destroy', venue_attraction_path(attraction.venue_id,attraction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
