<h2>Attractions</h2>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attractions.each do |attraction| %>
  <tr>
    <td><%= attraction.title %></td>
    <td><%= attraction.description %></td>
    <td><%= link_to 'Show', venue_attraction_path(attraction.venue_id,attraction), :class => "btn btn-primary" %></td>
    <td><%= link_to edit_venue_attraction_path(attraction.venue_id,attraction), :class => "btn btn-primary" do %>
        <i class="icon-pencil icon-white"></i>
      <% end %>
      </td>
    <td><%= link_to venue_attraction_path(attraction.venue_id,attraction), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" do %>
      <i class="icon-remove icon-white"></i>
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />
