<p><%= link_to @attraction.venue, @attraction.venue.name %> / <%= @attraction.title %>
<p>
  <b>Tour:</b>
  <%= @attraction.venue_id %>
</p>

<p>
  <b>Location:</b>
  <%= @attraction.latitude %>, <%= @attraction.longitude %>
</p>

<p>
  <b>Title:</b>
  <%= @attraction.title %>
</p>

<p>
  <b>Description:</b>
  <%= @attraction.description %>
</p>


<%= link_to 'Edit', edit_attraction_path(@attraction) %> |
<%= link_to 'Manage Media', attraction_media_path(@attraction) %>
