<p><%= link_to @attraction.venue.name, @attraction.venue %> / <%= @attraction.title %></p>

<h1><%= @attraction.title %></h1>

<p>
  <strong>Location:</strong>
  <%= @attraction.latitude %>, <%= @attraction.longitude %>
</p>

<p>
  <b>Description:</b>
  <%= @attraction.description %>
</p>

<%= link_to 'Manage Media', attraction_media_path(@attraction) %>
