<p><%= link_to @attraction.venue.name, @attraction.venue %> / <%= @attraction.title %></p>

<h1><%= @attraction.title %>
  <a href="#editAttractionModal" role="button" data-toggle="modal" class="btn btn-info"><i class="icon-edit icon-white"></i></a>
  <%= link_to @attraction, method: :delete, :class => "btn btn-danger" do %><i class="icon-remove icon-white"></i><% end %>
</h1>

<p>
  <strong>Location:</strong>
  <%= @attraction.latitude %>, <%= @attraction.longitude %>
</p>

<p>
  <b>Description:</b>
  <%= @attraction.description %>
</p>

<%= link_to 'Manage Media', attraction_media_path(@attraction) %>

<div id="editAttractionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render "attractions/edit" %>
</div>
